*.lst
*.log
_Built
_Original/Japan/*.TXT
_Original/Japan/*.BIN
_Original/Japan/*.MMD
_Original/Japan/*.STM
_Original/Japan/*.idb
_Original/USA/*.TXT
_Original/USA/*.BIN
_Original/USA/*.MMD
_Original/USA/*.STM
_Original/USA/*.idb
_Original/Europe/*.TXT
_Original/Europe/*.BIN
_Original/Europe/*.MMD
_Original/Europe/*.STM
_Original/Europe/*.idb
_SonLVL/dllcache
